
<div class="container">
  <div class="row">
    <div class="col my-col">
      <h1>Page Title</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm my-col">
      <h2>Option 1</h2>
      <p>A short description about Option 1.</p>
      <p>When in desktop mode the height of this box will extend to the bottom of Option 4.</p>
    </div>

    <div class="col-sm my-col">
      <div class="row my-col order-12">
        <h2>Option 2</h2>
        <p>A longer description about option 2 which will cause the background of this box to scale based on the
          contents of the text.</p>
        <p>In this case the text is quite long, so the height of the box is also quite large.</p>
        <p>If the text is shorter the height of the containing box would also be shorter.</p>
      </div>

      <!--Option 4 desktop-->
      <div class="my-col option-4 row d-none d-md-block">
        <h2>{{option4Header}}</h2>
        <p>{{option4Text}}</p>
      </div>
    </div>

    <div class="col-sm my-col">
      <h2>Option 3</h2>
      <p>A short description about Option 1.</p>
      <p>Like the option 1 box, this box will be as long as the combined height of Option 2 and 4 when viewed on a
        desktop device.</p>
    </div>

    <!--Option 4 mobile-->
    <div class="col-sm my-col d-md-none position-relative">
      <h2>{{option4Header}}</h2>
      <p>{{option4Text}}</p>
    </div>
  </div>
</div>


<footer class="fixed-bottom">
  <a href="">Footer</a> |
  <a href="">With</a> |
  <a href="">Some</a> |
  <a href="">Links</a>
</footer>
